#div1 {
    width: 100%;
    height: 50px;
    background-color: blue;

}

body {
    background-color: sandybrown;

}

#div2 {
    background-color: sandybrown;
    width: 100%;
    height: 50px;
}

#div3 {
    width: 25%;
    height: 550px;
    background-color: blue;
}

#div {

    width: 75%;
    height: 50px;
    background-color: blue;
    float: right;
}